<% unless @undecided_lithtningtalks.blank? %>
  <h4><font color="red">日付が未決定のあなたの担当LTがあります。</font></h4>
  <table class="table table-bordered table-hover">
    <thead>
      <tr href="top">
        <th>タイトル</th>
        <th>担当者</th>
      </tr>
    </thead>
    <tbody>
      <% @undecided_lithtningtalks.each do |schedule| %>
        <tr>
          <td><%= link_to "#{schedule.name}", schedule %>
          <td><%= schedule.member.account %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
