<h1>LT</h1>
<table border = 1>
  <tr>
    <th>タイトル</th>
    <th>プレゼンター</th>
    <th>日付</th>
    <th>資料URL</th>
  </tr>
  <tr>
    <th><%= @event.name %></th>
    <th><%= @event.member_id %></th>
    <th><%= @event.start_at %></th>
    <th><%= @event.content_path %></th>
  </tr>
</table>
