// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-group > .panel > .panel-heading {
  padding: 0;
}
.panel-group > .panel > .panel-heading a:active,
.panel-group > .panel > .panel-heading a:hover,
.panel-group > .panel > .panel-heading a:focus {
  text-decoration: none;
}
a.accordion-toggle {
  display: block;
  padding: 8px 15px;
}
.panel-collapse > .list-group {
  margin-bottom: 0;
}
.panel-collapse > .list-group > .list-group-item {
  border-left: 0;
  border-right: 0;
}
.panel-collapse > .list-group > .list-group-item:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.panel-collapse > .list-group > .list-group-item:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 0;
}
.list-group-item > .panel-heading {
  padding-top: 0px;
  padding-bottom: 0px;
  > .panel-title {
    padding-bottom: 0px;
    padding-top: 0px;
    > .accordion-toggle {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }
}
.panel-body > .list-group {
  margin-bottom: 0px;

}
.panel-group > .list-group-item div {
  a {
    padding-left: 0px;
  }
}
ul.panel-group {
  padding-left: 10px;
}
.clear .list-group-item {
  border: 1px solid #BBBBBB;
}

.notificationbox {
  background-color: #bfbfbf;
  padding: 5px;
  border-radius: 10px;
}
