<% if request.request_comments.empty? %>
  <p>コメントはありません</p>
<% else %>
  <% request.request_comments.each do |request_comment| %>
    <div class="panel panel-default" style="margin: 5px; width: 250px;">
      <div class="panel-heading">
        <font color="gray"><%= request_comment.created_at.to_s(:date) %></font> by <strong><%= request_comment.member.account %></strong>
      </div>
      <div class="panel-body">
        <%= request_comment.content %>
      </div>
    </div>
  <% end %>
<% end %>
